doctype 5
html
  head
    - if (game)
      title= game.id
    - else
      title= "Game not found"
    link(href='/stylesheets/style.css', rel='stylesheet')
    script(src='http://code.jquery.com/jquery-1.6.1.min.js')
    script(src='/socket.io/socket.io.js')
    script(src='/vendor/underscore.js')
    script(src='/vendor/backbone-0.5.3.js')
    script(src='/vendor/keyboard.0.2.2.min.js')
    script(src='/vendor/raphael-2.0.1.js')

    script(src='/javascripts/furious-earth-client.js')
  body
    - if (!game)
      p "This game doesn't exist!"
    - else
      div#canvas &nbsp;